.sequencer__container {
  margin-top: 50px;
  flex: 8;
  margin-right: 10px;
}

.drums__container {
  display: flex;
  flex-direction: column;
  background: #736973;
}

.kick__bar__container {
  display: flex;
  justify-content: space-around;
  flex: 7;
  align-items: center;
}
.snare__bar__container {
  display: flex;
  justify-content: space-around;
  flex: 7;
  align-items: center;
}
.hihat__bar__container {
  display: flex;
  justify-content: space-around;
  flex: 7;
  align-items: center;
}
.clap__bar__container {
  display: flex;
  justify-content: space-around;
  flex: 7;
  align-items: center;
}

.kick__bar__container > div {
  border: 2px solid #181818;
  background-color: #202020;
  border-radius: 15px;
  margin: 1px;
  padding: 20px;
  margin-top: 10px;
  width: 31px;
  height: 31px;
}
.kick__bar__container > div:hover {
  cursor: pointer;
}
.snare__bar__container > div {
  border: 2px solid #181818;
  background-color: #202020;
  border-radius: 15px;
  margin: 1px;
  padding: 20px;
  margin-top: 10px;
  width: 31px;
  height: 31px;
}
.snare__bar__container > div:hover {
  cursor: pointer;
}
.hihat__bar__container > div {
  border: 2px solid #181818;
  background-color: #202020;
  border-radius: 15px;
  margin: 1px;
  padding: 20px;
  margin-top: 10px;
  width: 31px;
  height: 31px;
}
.hihat__bar__container > div:hover {
  cursor: pointer;
}
.clap__bar__container > div {
  border: 2px solid #181818;
  background-color: #202020;
  border-radius: 15px;
  margin: 1px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 31px;
  height: 31px;
}
.clap__bar__container > div:hover {
  cursor: pointer;
}

.kick {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.snare {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hihat {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.clap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title {
  flex: 1;
  margin-top: 10px;
  margin-left: 10px;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.instrumentTitle {
  border: solid;
  width: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: black;
  margin: 25px;
  padding: 5px;
  color: #f81212;
  border-radius: 5px;
  border-width: 0.5px;
  font-family: monospace;
}

.instrumentTitle:hover {
  cursor: pointer;
}
