.sample__container {
  display: flex;
  border: solid;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  border-width: 0.5px;
  position: relative;
}

.choose__instrument {
  display: flex;
  flex-direction: column;
  background: black;
  color: red;
}
.choose__instrument > label {
  border: solid;
  padding: 5px;
  border-width: 0.5px;
  text-align: center;
}
.choose__bpm {
  display: flex;
  flex-direction: column;
}
.choose__bpm > label {
  border: solid;
  padding: 5px;
  border-width: 0.5px;
  text-align: center;
  background: black;
  color: red;
}
.submit__search {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.submit__search > label {
  border: solid;
  padding: 5px;
  border-width: 0.5px;
  text-align: center;
}
.play__sample__container {
  display: flex;
  margin-right: 50px;
  text-align: center;
  flex-direction: column;
}
.play__sample__container > label {
  border: solid;
  padding: 5px;
  border-width: 0.5px;
  text-align: center;
}

.audio__playing {
  border: solid #736973;
  height: 25px;
  width: 80%;
  margin-left: 150px;
  margin-top: 170px;
}

#soundType {
  background: white;
  outline: none;
}
#soundType:hover {
  cursor: pointer;
  background: #605e5e;
}

.search__button {
  background: white;
  color: blue;
  border-width: 0.5px;
  padding: 2px 5px;
  border-radius: 8px;
}
.search__button:hover {
  background-color: rgb(56, 50, 50);
  cursor: pointer;
}

.pause__sample {
  cursor: pointer;
  background: white;
  color: blue;
  padding: 5px;
  padding-left: 10px;
  padding-right: 20px;
  border: solid;
  border-width: 0.5px;
  margin-bottom: 5px;
  max-width: 25px;
  margin-left: 50px;
  border-radius: 5px;
}

.pause__sample:hover {
  background-color: rgb(56, 50, 50);
}

#input__BPM {
  background-color: white;
  outline: none;
}

.controls__container {
  flex: 1;
  display: flex;
  border: solid #726872;
  margin-left: 10px;
}

.sampleButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
}

.fa,
.fas {
  font-weight: 600;
}

.fafa-play {
}
